@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 body{
  background-image: url(../bg.png);
  height: auto;
   width: auto;
 
 }
.navber{
 justify-content: space-between;
 align-items: center;
 margin: 20px auto;

}
.header{
   display: flex;
}
.img{
   height: 62px;
   width: 62px;
   margin: 20px;
}
.brand{
  text-align: start;
  font-weight: 700;
  font-size: 2rem;
  color: #111111;
}
.display-flex{
   display: flex;
}
.nav-link{
   font-weight: 400;
   font-size: 1.25rem;
   gap: 32px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   text-align: center;
   list-style: none;
}
.main-btn{
   height: 50px;
   width: 197px;
   background-color: orange;
   color: white;
   border: none;
   border-radius: 12px;
   font-weight: 600;
   font-size: 1.25rem;
}
.Home{
color: #FEA301;
font-weight: 700;
font-size: 1.25rem;
}
.About{
   font-weight: 500;
   font-size: 1.25rem;
   color: #01ACFD;
}
.Facilities{
   font-weight: 500;
   font-size: 1.25rem;
   color: #05D4DF;
}
.Admission{
   font-weight: 500;
   font-size: 1.25rem;
   color: #5D58EF;
}
.banner{
   display: flex;
   margin: 20px 140px;
   
   align-items: center;
}
.h1{
color: #FEA301;
}
.h2{
   color: #01ACFD;
}

.hero-kids{
   height: 575px;
   width: 468.61px;
   gap: 0 50px;
}
.banner-title{
 font-weight: 700;
 font-size: 3.5rem;
}
.banner-contend{
color: #111111;
font-weight: 400;
font-size: 2.25rem;

}
.bg-btn{
  
   background-color:  #111111;
  color: white;
   border-radius: 12px;
   font-weight: 700;
   font-size: 1.25rem;
   width: 197px;
   height: 50px;

}
.main-head{

}
.head-tag{
 display: grid;
 text-align: center;
 margin: 80px, 0 auto; 
}
.sub-head{
   display: flex;
   grid-template-columns: repeat(3, 1fr);
   margin: 80px 60px auto;
  gap: 28px;
 justify-content: center;
  
}
.card{
 height: 476.78px;
 width: 367.8px;
 background-color: #DEF5FF;
 text-align: center;
 border-radius: 18.86px;
 background: linear-gradient(#DEF5FF, #FFFFFF 40%);
 box-shadow: 0px 0px 1px 0px ;
}
.card1{
   height: 476.78px;
   width: 367.8px;
   background-color: #FFF4DC;
   border-radius: 18.86px;
   text-align: center;
   background: linear-gradient(#FFF4DC, #FFFFFF 40%);
   box-shadow: 0px 0px 1px 0px ;

  }
  .card2{
   height: 476.78px;
   width: 367.8px;
   background-color: rgba(242, 232, 255, 1);
   border-radius: 18.86px;
   text-align: center;
   background: linear-gradient( #EEE1FF, #FFFFFF 40%);
   box-shadow: 0px 0px 1px 0px ;
   
  }
.card-img{
 margin-top: 28px;
 height: 136.76px;
 width: 136.76px;
}
.card-h{
font-weight: 700;
font-size: 1.53rem;
color: rgba(32, 32, 32, 1);
gap: 33px;
}
.card-p{
text-align: justify;
text-align: center;
color: rgba(128, 128, 128, 1);
 font-weight: 500;
 font-size: 0.94rem;
 gap: 33px;
}

.list1, .list2,.list3{
 list-style: none;

}
.list1{
   color: #64C8FF;
}
.list2{
color: #F0AA00;
}
.list3{
color: #8700FF;
}
.fa-circle-chevron-left{
   height: 60px;
   width: 60px;
   background-color: #F0AA00;
}
.fa-circle-chevron-left{

}
.fa-solid{
 display: contents;
}
.head-story{
   text-align: center;
  margin: 80px auto;

}
.first-story{
  height: 630.52px;
  width: 540.27px;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 1px 0px ;
  border-radius: 16px;
  margin-right: 18px;
 
  
}
.head-2{
 font-weight: 700;
 font-weight: 1.5px;  
 color: #000000;
}
.head-p1{
   font-weight: 500;
   font-size: .95rem;
   color: #666666;
}
.kids{
   display: flex;
    justify-content: center;
  margin-left: 190px;
  margin-right: 190px;
}
.Our-Stories{
   margin: 80px auto;
   background: linear-gradient( #FFFFFF, #FFF0D6 30%);
 
}
.kids-story{
   grid-template-columns: repeat(2, 2fr);
   display: grid;
   gap: 19px 19px; 
   
}
.story{
   height: 301.61px;
   width: 290.69px;
   gap: 19px 19px; 
   border-radius: 16px 16px;
   background-color: #FFFFFF;
   box-shadow: 0px 0px 1px 0px ;}


.img-story{
   border-radius: 16px 16px 0px  0px ;

}
.date{
   width: 174.51px;
   height: 47.93px;
   background-color: #3CD8E8;
   border-radius: 47.93px;
   color: #FFFFFF;
}
.view-btn{
  background-color: black; 
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.25rem;
  border-radius: 12px;

}
.view{
 margin: 80px auto;
   width: 197px;
   height: 50px;
  align-items: center;
  display: grid;

}
.footer{

}
.footer-sec1{

}
.footer-sec2{

}
.footer-sec3{
   
}




@media screen and (max-width:576px) {

   .Admission,
   .Facilities,
   .About,
   .Home,
   .main-btn,
   .brand,
   .first-story
   {
      display: none;
   }
   .sub-head{
    
      flex-direction: column;
    }
   .story{
      flex-direction: column;
      grid-template-columns: repeat(2, 2fr);
   }
   /* .hero-kids, */
   .banner{
  flex-direction: column;

  
   }
   .bg-btn,
   .banner-contend,
   .banner-title{
    flex-direction: column;
    grid-template-columns: repeat 1fr;

   }
   .hero-kids{
    flex-direction: column;
   
         }
      }
               

@media screen and (max-width:600px) {
    
}